db:
  type: postgres
  host: postgres
  port: 5432
  user: postgres
  pass: changeme
  name: qr
  pool:
    max_conn: 16
    min_conn: 4
    max_conn_idle_time: 3m
    max_conn_lifetime: 3m
    health_check_period: 1m

minio:
  endpoint: minio:9000
  root_user: minioadmin
  root_password: minioadmin
  use_ssl: false
  bucket_name: qrcodes
  location: us-east-1
